.navbar {
  font-family: 'poppins', sans-serif;
  font-size: 16px;
}

.nav-center-custom {
  padding: 0.5rem 2rem;
  display: flex;
  gap: 2.7rem; /* spacing between li items */
  align-items: center;
  justify-content: center;
  
}

.navbar-nav .nav-link{            /* Slightly darker grey outline */
  border-radius: 0.375rem;            /* Optional: rounded corners */
  transition: all 0.3s ease;
}  

.navbar-nav .nav-link:hover {
  transform: translateY(-3px) scale(1.05); /* Move upward & increase size */
}

#nav-searchbar::placeholder {
  color: #c0c0c0; /* light gray or any color you want */
  opacity: 1; /* optional: ensures full opacity */
}